@use "../../styles/partials/mixins" as *;
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
  @include mobile {
    align-items: start;
    gap: 70px;
    margin: 20px 15px;
  }
  &__title {
    position: relative;
  }
  &__title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 700;
    @include mobile {
      padding: 0;
      font-size: 50px;
    }
  }
  &__title img {
    width: 200px;
    right: 0px;
    height: 30px;
    position: absolute;
    bottom: -5px;
    z-index: -1;
    @include mobile {
      width: 130px;
      right: -20px;
      bottom: -10px;
    }
  }
  &__format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
    @include mobile {
      padding: 32px;
      width: 81%;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
    @include mobile {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
  &__format h3 {
    font-size: 28px;
    font-weight: 600;
  }
  &__format h2 {
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #ba6210 50.41%, #ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include mobile {
      font-size: 28px;
    }
  }
  &__format-p {
    color: #9f9a9a;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
  }
  &__format p {
    @include mobile {
      font-size: 18px;
      line-height: 32px;
      max-width: 400px;
    }
  }
  &__skills-container {
    display: flex;
    gap: 10px;
    @include mobile {
      flex-wrap: wrap;
    }
  }
  &__skill {
    background-image: linear-gradient(270deg, #ba6210 50.41%, #ff0000);
    padding: 10px;
    border-radius: 7px;
  }
  &__readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
  &__format:hover {
    border: 2px solid #ef7808;
    background-image: linear-gradient(45deg, #6b3604 50.41%, #af0000);
    transform: scale(1.05);
    transition: 0.4s;
  }
}
