@use "../../styles/partials/mixins" as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
  @include mobile {
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  &__title {
    position: relative;
  }
  &__title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    @include mobile {
      padding: 0;
      font-size: 50px;
      font-weight: 600;
    }
  }
  &__title img {
    width: 200px;
    height: 30px;
    right: 0px;
    position: absolute;
    bottom: -5px;
    z-index: -1;
    @include mobile {
      width: 130px;
      right: -20px;
      bottom: -10px;
    }
  }
  &__detail img {
    width: 20px;
    height: 20px;
  }
  &__section {
    display: flex;
    gap: 150px;
    @include mobile {
      flex-direction: column;
      width: 99.8%;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__left h1 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(to right, rgb(186, 98, 16), rgba(255, 0, 0, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include mobile {
      font-size: 54px;
    }
  }
  &__left p {
    max-width: 550px;
    color: #d8d8d8;
    font-size: 20px;
    line-height: 35px;
    @include mobile {
      font-size: 18px;
    }
  }
  &__left a {
    color: #d8d8d8;
    text-decoration: none;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;
  }
  &__detail {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  &__right label {
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
    @include mobile {
      font-size: 20px;
    }
  }
  &__right input {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #323232;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
    @include mobile {
      width: 100%;
      font-size: 20px;
    }
  }
  &__right textarea {
    width: 650px;
    padding: 20px;
    border: none;
    border-radius: 4px;
    background: #323232;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
    @include mobile {
      width: 95%;
      font-size: 20px;
    }
  }
  &__button {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(to right, #ba6210, rgba(255, 0, 0, 1));
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    @include mobile {
      font-size: 20px;
      padding: 15px 40px;
    }
  }
  &__button:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}
