.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  img {
    width: 100px;
  }
  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
  }
  &__menu-li {
    padding: 10px 20px;
    border-bottom: 4px solid #ba6210;
    cursor: pointer;
  }
  &__menu li:hover {
    cursor: pointer;
  }
  &__connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(to right, #ba6210, rgba(255, 0, 0, 1));
    font-size: 22px;
    cursor: pointer;
    transition: 0.4s;
  }
  &__connect:hover {
    transform: scale(1.05);
  }
  &__menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  &__menu-link {
    text-decoration: none;
    color: white;
  }
}
